
.banker-select {
    display: flex;
    gap: $magic-number;
    justify-content: center;
}

.banker-select-option {
    text-align: center;
}

.radio-image {
    display: none;

    + label {
        border: 1px solid $color-on-prime-variant;
        padding: ($magic-number * 0.5);
        display: block;
        position: relative;
        cursor: pointer;
    }

    + label img {
        filter: brightness(60%);
        z-index: -1;
    }

    + label:hover img,
    &:checked + label img {
        filter: brightness(100%) drop-shadow(0 2px 6px rgba(33, 33, 33, 0.4));
    }

    &:checked + label {
        background-color: $color-notice;
    }

    &:focus + label {
        outline: 2px solid $color-notice;
    }
}

.card-front,
.card-back {
    height: 1.6 * 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 6px rgba(33, 33, 33, 0.4);
}

.card-front {
    background-color: $color-inverse;
    background-image: linear-gradient($color-inverse, color.scale($color-inverse, $lightness: -10%));
    color: $color-on-inverse;
}

.card-back {
    border: 1px solid $color-on-prime-variant;
    background: $color-prime-variant;
    background-image: radial-gradient(circle, $color-on-prime-variant 0%, $color-prime-variant 90%);
    color: $color-on-prime;
}

.deck-stacked {
    border: 1px solid $color-on-prime-variant;
    background: $color-prime-variant;
    color: $color-on-prime;
    height: 1.6 * 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $base-border-radius;
    box-shadow:
        0.2rem 0.2rem 0 0 color.scale($color-prime-variant, $lightness: -5%),
        0.4rem 0.4rem 0 0 color.scale($color-prime-variant, $lightness: -50%);
}
