// Style outgoing links (omit icons)
a:not(.icon)[target="_blank"] {
    border-bottom: 2px dotted $color-on-prime-variant;
}

a:not(.icon)[target="_blank"]:hover {
    border-bottom: 2px solid $color-accent;
}

// Add icon to outgoing links
a:not(.icon)[target="_blank"]::after {
    @include fa-base();
    content: "\f08e";
    margin-left: 0.1em;
    font-size: 0.75em;
}