$font-body: 'Inter', sans-serif;
$base-font-size: 1.125rem;
$base-line-height: 1.5;
$magic-number: $base-font-size * $base-line-height;
$base-border-radius: 0.5rem;

$color-prime: #1B1E22;
$color-on-prime: #e3e3e3;
$color-prime-variant: #2A2C38;
$color-on-prime-variant: #4C5A6E;
$color-accent: #E086D3; //#8dafdc;
$color-inverse: #bfcddf; // #93A4BA;
$color-on-inverse: #1B1E22;

$color-success: #00a878;
$color-notice: #4392f1;
$color-warning: #fca311;
$color-danger: #EF798A; //#f26157;
