{% extends "proj/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="window">
    <div class="window-heading">
        <span>About</span>
    </div>
    <div class="window-body flex flex-row gap-lg align-start">
    </div>
</div>
{% endblock %}
