{% extends "proj/base.html.twig" %}

{% block title %}About Database{% endblock %}

{% block body %}
<div class="window">
    <div class="window-heading">
        <span>About</span>
    </div>
    <div class="window-body flex flex-row gap-lg align-start">
        <div class="embed-container">
            <iframe src="" title="Simple ER diagram with cardinality" frameborder="0"></iframe>
        </div>
        <div class="embed-container">
            <iframe src="" title="Extended ER diagram with foreign keys, fields and field types" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}
