{% extends "proj/base.html.twig" %}

{% block title %}Adventure Game{% endblock %}

{% block body %}
<div class="window">
    <div class="window-heading">
        <span>Adventure Game</span>
    </div>
    <div class="window-body game">
        <form method="post" action="{{ path('perform_action') }}">
            <div class="log">
                <div class="log-inner">
                    {% for entry in log.getEntries() %}
                        <pre>{{ entry }}</pre>
                    {% endfor %}
                </div>
            </div>
            <input type="text" name="input" placeholder="Enter your action..." autocomplete="off" autofocus>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
