{% extends "base.html.twig" %}

{% block title %}Deal Cards{% endblock %}

{% block body %}

<div class="content-header">
    <h1 class="title">Deal Cards</span></h1>
    <div class="deck draw">
        {% for player in deal %}
            <div class="hand">
            {% for card in player %}
                <span class="card">{{ card }}</span>
            {% endfor %}
            </div>
        {% endfor %}
        <span class="card">{{ count }}</span>
    </div>
</div>

{% endblock %}
