{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}

<div class="content-header">
    <h1 class="title">Card Game</span></h1>
    <p class="sub-title"></p>
    <div class="deck draw">
        {% for card in draw %}<span class="card">{{ card }}</span>{% endfor %}
        <span class="card">{{ count }}</span>
    </div>
</div>

{% endblock %}
