{% extends "base.html.twig" %}

{% block title %}Game Docs{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="title">Game Documentation</h1>
        <p class="sub-title">
            Här är dokumentationen för min implementation av spelet tjugoett.
    </div>
    <article class="blog">
        <section>
            <h2>Flödesdiagram</h2>
        </section>
        <section>
            <h2>Lösning med pseudokod</h2>
        </section>
    </article>
{% endblock %}
