{% extends "base.html.twig" %}

{% block title %}Game Docs{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="title">Game Docs</h1>
        <p class="sub-title">
            Här är dokumentationen för min implementation av spelet tjugoett.
    </div>
    <article class="blog">
        <section>
            <h2>Översikt</h2>
            <p>Tre av klasserna i spelet är de vi skapade i förra kursmomentet:</p>
            <ul class="pretty-ul">
                <li><span class="highlight">Card</span>, basklassen för ett spelkort.</li>
                <li><span class="highlight">CardGraphic</span>, ärver från basklassen Card och lägger till unicodetecken för de olika kortfärgerna.</li>
                <li><span class="highlight">DeckOfCards</span>, en kortlek bestående av kortobjekt (aggregation).</li>
            </ul>
            <p>Nytt för den här gången är följade klasser:</p>
            <ul class="pretty-ul">
                <li><span class="highlight">GameManager</span>, eller "överspelaren" kanske man kan kalla det. Knyter ihop spelare, bankir och kortlek (komposition).</li>
                <li><span class="highlight">BettingManager</span>, sköter vadslagningen genom att hålla koll på ställningarna och fördela pengar.
                <li><span class="highlight">Player</span>, representerar dig och mig som användare.</li>
                <li><span class="highlight">EasyBanker</span>, bankir som alltid spelar till den uppnått 17 poäng.</li>
                <li><span class="highlight">MediumBanker</span>, bankir som räknar kort och fortsätter spela tills risken att bli tjock är över 50%. Den vet inte vad spelaren har för kort.</li>
                <li><span class="highlight">HardBanker</span>, bankir som vet vad spelaren fått för poäng och fortsätter spela tills den har högre. Den har inget att förlora. </li>
            </ul>
            <p>Nytt är även följande interface och trait:</p>
            <ul class="pretty-ul">
                <li><span class="highlight">ReceiverInterface</span>, talar om att spelaren och bankirer måste kunna ta emot kort (eng. receive).</li>
                <li><span class="highlight">BankerInterface</span>, utökar ReceiverInterface med tillägget att bankirer måste ha en metod för att fatta bestlut om hur länge de ska spela, samt en metod för att kunna ta del av spelinformation.</li>
                <li><span class="highlight">ReceiveTrait</span>, implementerar i princip det som krävs av ReceiverInterface och används av både spelaren och bankirerna.</li>
                <li><span class="highlight">PassInfoTrait</span>, implementerar tillägget i BankerInterface som har med att ta emot information att göra.</li>
            </ul>
        </section>
        <section>
            <h2>Flödesdiagram</h2>
            <p>Det här diagrammet var det första jag gjorde efter att ha gått igenom spelets regler. Tanken var att få en bild av hur spelet ska gå till. Det visar inte hur spelet är implementerat rent tekniskt.</p>
            <div class="embed-container">
                <iframe src="https://viewer.diagrams.net/?highlight=FFFFFF&amp;nav=1&amp;title=game_flowchart.drawio#R7Vxbm5o4GP41XtqHM3rZmekcdrvd7tPutnO1T5SMsoPEAo7aX78JJEASlOhw0KlXQggfkLzf%2B50SB%2Bb1YnMXgeX8D%2BTBYGBo3mZg3gwMQx9bOv4hLVva4o61rGUW%2BR5tKxq%2B%2BD8hbWTdVr4HY65jglCQ%2BEu%2BcYrCEE4Trg1EEVrz3Z5QwD91CWZQavgyBYHc%2Bs33knnWOjLcov0e%2BrM5e7LujLMrC8A60y%2BJ58BD61KT%2BWFgXkcIJdnRYnMNAzJ6bFy%2BPWy%2FBR%2Bfnbvf%2Fop%2FgL%2Bvfv%2F66Z9hJuz2kFvyT4hgmBwt%2Bvu%2FI%2Bdh9dFaW%2BvRj%2FD%2B4XH158%2BhbmeyX0CwogP2iGcr%2B95kywYRenhM6SmKkjmaoRAEH4rWqwitQg%2BSR2n4bJ4sAnyo48P%2FYJJsKSzAKkG4qZDwEaEl7feEwoR204kIGHrvyfTj80mAps9Z060fBPQZ%2BIz2H%2BGzOInQcz7DRGA%2BXaRzACYwuALT51n6otcoQBG%2BFKIQ0mffgoUfEJDfw%2BAFJv4U4AuKA08nKEaraAr3jTZTABDNYLKvo5V1JONegjGd2DuIFjCJtrgD1dOh9s7I7qBqmk9sBAOQ%2BC%2B8MgCqU7NcUC77M%2FLxpxZd0NNTjF%2BVAxbrQx9uMgWhz7YMm39MNi70rn2CHGu%2FoGzcJEEYJ2Bb6rYkHeJyD3xQGraiKVWRAzTRkLRFUpWzVoR6Pe9KVUayplTKcxQVRVkPOMgcig9TwscdWMAUICAikNTWcxiS75qT1gkIn2E0MJwAf%2BLVhBzNknQsHbDAeLgKJzH58SAIyM2A2EkQeakNzaUsA7AlUnYCkYBgPfcT%2BGUJ0kFfY1vPg1ME3SwAcUwhU4OoJYx8PHowItL9cFaS2ABQXmCUwM3eqWVXXZunQJfS0row%2B7pD2%2BYlkz%2FSWkKDJaHhE7rwxav5Yh8P1FtWXZEwmL%2Fbmh1tyiY5EspuCm4gbBHLBAM3UwgJjeAvMW9lTM7RYrKK62mDg8rOqRYRCgJ%2FFuKTKZ56TFyVGMy5xCnOvqaYx2rVHokYGu%2FLGHYFiegVJDJui0RGSg76hUUaYRE2s%2FU0op0KjUhedA5Z%2BmhbF6C5w4tuio%2FGKlbvjQeUGI3R9nsuF588kpN3Nju92ZQv3mzrKLQvnKvGoQzmWmcwN60RB3NLEebdBYvshbhoMbPEnv%2FC6YPzY4Wo418csVAgvQObwLDylkmOweE0A%2BF78mKhn%2FggqBR5g4gByRyETDj%2BvEw%2B%2F0zcnL4o39rru7NYh4%2BPar6jwefjOG6begOYFdIh9KPzG8TMKSR%2B30FvfnESdziJuYXtwkmspGmZaT5TRdECFDN1J1glmYhnWOM%2FHpgs6DzUN3jqNxxbHn%2BjYvydtsZfzgtenPTeQ31VF72UQzc1HlldptFFVFsiWlXT6KIg22gtAKgcdzkJKrv%2FMnBL6sDriYDoWhjymM89cb13T3yfg10L5pEimEsUaFcwoP1KB51CzHJ5C2jaR2LV1HlBupiMPdiL3%2FHCulH5nAL6mcRGFUHO%2FzLXiqCr0pkjF4ZxCl%2FixenaclPpwl3RyoHGSgPMMdZAiLCpjwasUpD7ctkzdzlzh9r%2FTu296QgOl9G3wXfrOe5i7Rux9qYiQTZeCFTLrokSlI20IEd3uzXSctWgMW7KQw%2FMSdM09pgQ10eNiDBGl%2BQQ4wcEAQzQLAKLQanKKF77XFyo5S1%2FA5mG9FOiHPMlyqriQqc0JudqLzTWjp%2BnGrSo%2BnkN05guZk%2BVeUxIwxqiJ9gyj8nlscZ47DpbaZGKTldfeOR0tXwbPpXIRXrvZLQnX96cv0yyX%2BV0WLKKwrc5oY7V%2B4TqOydUPf%2B9azHDa%2FPq8RRFRCgZVQ1uwDQhM3W7S7wIhUvym4X%2BowqYdZr81qsSTofDrKIo9iqA5Yv7KktVDZZzyot5DiuMnWBtChFS9vOpyPMa5%2FYdcwx8ormXIltDPONWmbNueabFfF4eM6%2F9sKJa14J%2F0ta8mYJ5GPedqtPlEOHXW5DU5w6XvYtjTnABnbifxXYa2s8iCepyiVL1dFUlgBqiNLrzAYM4DZ5DL7fpmONCmNv5NTZxpN9L2jQHFcuVQfolNAhAKUMeyogKeyC6Csx03ew7MjNaDLXfjikT6uiu3bcpY%2BnZy27NTmyZaunJULVlJ7LS5BcycEaVz35Rl1bURXnvhHmg69fdovJ8JSHLoR5dFhEFKZZFOtQMeQnDm14zKnpho6q8ZbfW%2FBKYnqIxdw835hywejTk7rghQy4J6p2uzKqIRVSVArcUXfsWlXKLRMvobhp5qnuoulm6afJ%2Bp6kdCZmhgD3VP%2BtoDBBVxcXdgKhfZqyysHg3B5YZ79jdfw0DT9UfM08LoEMhgywl9I9FqK5Zr3XC1B5kUPZUfzGTu6Gd1cimnDw4EwZVjq87AqjFT99I3F9xLEDdUccUurugpV47fShqtaziraVF3P1bNZssGa%2FImKKnAUsOX4quTRVdx%2BOKIKnToqsp%2F0Hd68x8h7TlnqcB1sW1oZp5bBZEhJPi7p7GCE7OcVzy5ceG2OcQEBu29U4otmki5tR3aEiydFER%2Bg%2BLLzmk7nJIjKfrCX18PipjmqLCHL2XU7YbJ5dFanG9w%2Ft842WK0UHxp49nVPIWd1rqmtZ30ZtFW114gPVE2TSljGVK2bcN8kRcRMu1BJiIoasqadhCMD1sKUdjm%2FtzLrU3sLTUkTkafFr8U3jWvfjDdfPD%2Fw%3D%3D" title="UML class diagram of card game" frameborder="0"></iframe>
            </div>
        </section>
        <section>
            <h2>Lösning med pseudokod</h2>
            <p>Här är min lösning för att räkna ut risken att nästa kort får spelaren att bli tjock (eng. burst).</p>
            <code>
                <pre>
CALCULATE margin as difference between 21 and current points

IF margin > 13 THEN
    RETURN no risk of bursting as 0
END IF

SET burstCards to 0

FOR each card in deck
    IF value of card > margin
        INCREMENT burstCards
    END IF
END FOR

CALCULATE risk of bursting as number of burstCards divided by total number of cards

RETURN risk of bursting
                </pre>
            </code>
        </section>
        <section>
            <h2>Klassdiagram med UML</h2>
            <p>Notera att trait visas i form av en abstrakt klass (namnet är kursiverat). Jag har använt pilen för generalisering fast utan nyckelordet "Extends" för att skilja användingen av trait från vanligt arv.</p>
            <div class="embed-container">
                <iframe src="https://viewer.diagrams.net/?highlight=FFFFFF&amp;nav=1&amp;title=CardGame.drawio#R7V1bb6s4F%2F01lToPrTB3Hpv03KRzNFV7NJfvpaLBSVAJZICctvPrPxsMCWY7oSngdOrRkaY4hCRey3t7L29vnxnT1fOX1F8vfyQBjs50LXg%2BM67PdB15JiL%2Foy0vZYuts4ZFGgbspm3DXfgvZo0aa92EAc4aN%2BZJEuXhutk4S%2BIYz%2FJGm5%2BmyVPztnkSNT917S9wq%2BFu5kft1j%2FDIF%2BWra7ubNu%2F4nCxrD4Z2V75ysqvbma%2FJFv6QfK002R8OjOmaZLk5V%2Br5ymOaOdV%2FVK%2B77Pg1fqLpTjOu7zhszcJwvmP4Op7%2Fr9M%2F6b97qz%2FumBP%2BeVHG%2FaDp34asC%2Bcv1S9kD2Fq8iPydVknsT5HXsFkWs%2FChcx%2BXtGvgZOScMvnOYh6cAr9kKerEnrbBlGwXf%2FJdnQL5vl%2FuyxuposkzT8lzzWj9gzyctpzrig24077ug7SbNGWlOckXtuqh5AddN3P8vZPbMkivx1Fj7UX3jlp4swniR5nqyqByWbOMABu6qBKi7yNHmsoafvn4dRNE2ihPzW6zgp%2BqQNRdWvpC%2Fw804Tg%2BYLTlY4T1%2FILexVm7GEDRPk2uX105Z0usHaljuE002dkZ0RfVE%2Fuv60WzIw%2FHhBeqD%2BON3gPs%2FUWp%2BHqu%2FU%2BDy7%2BXF%2BRFCP%2FRxPaB9muwwkf%2Bz80m1TwctXcFRvcfRMN84o281sE%2Bb4nr1yRR9EAODJSxDId4ga4XkupGm29mdhvPhe3HNtbltuWRfQpoS8dx4VFFmGQYDjgkK5n%2Fslyyhv1gn5KkUfWRPyj3zZqXZpnVnkC03JNdpek3%2F09jSfJjFhmx8WHMKEwk%2BY0rgb4faO7sMsfGmie5B1tph0Dfhfi7Uhxjr140cFdW9QW7pkqM0W1Bc7gzorQSYu3CcfZUd5aYsJPORqkdcdo8A%2FBnzHlQy%2BJQKfjvIPiP2eGcgyX0XszxEZgjRTMkVswBVwqEdh0QeshxA4XTtAiRUBlz6u4sBPSpHrC9TiidHmiQFwIvIfcHSTZGEeJvT5aXkvx5VDdBgMVaM9zQNRdQcC1QFAJb9Wu7%2BfFV2xmeXnzAXsePnp1jbUrb%2BVf%2F1Kwna48t6twZjj3JDtClwhJfLkrrD65wzrygcotI9G25Zt1T0B2guc35FBX0GtJvdvw9nraOcHw7nS7yCgb4kdV0D3E7Aj2RE7assz13j2%2BPucColZC1ulJA6tJLouC65qmw9Iex4k7XmmmCNiKdGy3o%2BUiNr6Eos7Azx7BMLOUg3%2Fjwadb7BTemdWipVFmISD2am23tQC9MPHk6%2BGFVARQViHiidRW0gCA8pieJOBTu%2FQ4k0UqfCxHwJ0di6DjWtIJ6IM8IOAWm%2BK%2Foxa8QJv2qKg7wd6YIlyZOhFahINJhvKwUeSkgfDG6GOxn44wEVaEQGcBh0g3GoK1xf%2BgFQ4Mv571KMpCRqUfNQX1IBOOC7Uukg%2Fypab%2BTzChbpwrlx5T3gDeuHIeLcz0Uq8g9R%2FonO4eLPi136UmR8kUgckxXG5YLQlRe3ysgo127DuxOsHNcQ6Pi%2F0PSFaFBB%2FkydZKR1upQAOhYGSAb2mhKe77eFpAYhUq7v9I9LWzdCHQcM1tYNoGKOi0ZayqPUrMrDDWQsXJbkPLbmbltdkiOG0GAKuytRa%2BX83e9cQpnqpPL%2FXOvN64L%2BjhN62PKcy%2FYbM9Hs9R6RnAhuQjsfB%2FtGXZl4Pa9cc36GWZgxxYpfK9ZPjDTpvKhpspIsEPJXsNwDckGA%2F8h4PaD9P6eYfKg%2F%2Fyc9eJmS0k%2FiDvUQ%2B6kHo%2FwXRjPbmMAVA5pWRS9n0w39u3PjaeOZpSabFd4So9J4nEtM13V4P4YqhNcMHyzUvrXYA4QABRDVX6J8pomXcR4zXX8M83zEND0kSiQxDV13g3RqQV9Nj%2F8B8UwIPxJDhbAkwS5zqZ1eTkGoXc9oh5HIyqQ1MurUhnMkpzc23%2Bn1d7M5OH0MQ9DAsLa85LG1AZ0IIGpQ9CE23f%2F19u%2Fjnsxdd3ZvPTw%2Fzq3j1Bdp5e2SP3%2BIZDn%2Bdfp9bFrDwNWqftz3mp%2Bccx0AqLWm8ohUOyNVDlFD3NCFNzKUhu7z8HEZVTLnTm80gVNiPWbJJZ7jDmCS%2BdIHzw0zCQaPaghAW7VIzHcDgVJpWiiM%2FJ3xqfNs9GtpNUsQWtQN0eQfIoVn%2BcPauLaCtB1nmgQeVHbPnQdWNyXye4cY9RwhwYNe3xeITJlQ1yd0l1L5M%2BYOEGoA9ttME3bSPZI9rHHiQgD19MQPKnRRTIgj9VRIHP5dh3GLClia6KZsYXU3NAMwwObti8PJ%2BV2bY5oEHDcwMSJDjPPoPHISblQrcZAZuNuQjoUm504PIBxKlrfFRdZ%2BmY9H8HBo48Tl5%2For2S0GXgrysYa%2FYr4I6njp7R%2B1JxnTgNxbJgSroPwl%2BQLs7RuUHgrLCOEf0lVga5YZkuiEHyh4cSj2EeQIoFcqQDGZIUHfKnIqn6bL9D4h%2FAz9bFtEL2hPzEPa9NebZ280HY55KhpET8zRzFV3t6JjnwIMGjnnAjWQnzhBAfjs9gnD7w48nCO92DHdcgnRIU5FIkL3rPO%2BKIY5u9cQQNC5DdCiekSqydvYrsEAokRSIU1ld70izgThRzjXQpe3YpqNZrqsbFhqVIpXke%2BIU6bquI5MhBuKARUeaDcQtAjodV3F64wQU5UrlRGdfcnqk0DlSHOtLkI4uDQeZnkZmLI5TKa18yDsWRaAA9%2FTMRmfPYusSKWLwDuFYimjGpec6hokcR0cW8vTGc21jZNcCJdudHke6uha5FEH7h3t3K8Kt2CDz0t35zxmXIceJICfraKRSxGxS5OiwlqeI5TqXBuLd1tDMgHIBOKH9JvJflMguS2Q3pYvsYPL%2B6egfe3ndW4LaCPKHbXKqxbHyh%2B2N617M9xHbduaEVPfCBbd2pS292b3YOolrxvUuwDaQj1M%2BgC%2FmYFvtjXlDlQ%2BA0WjPAj8OGk5lE%2BtxNV4xBxiN9szr46DBjw1L%2BthoLwJ%2BHDT4sWE57c0Qo6JRafM7aHzxV%2FiHH%2FsLGol0izpOtdDJe4lEXG5%2Bajltk6lD1UYsbahQpIpx2lUl1mWQWmT6AJuO4JGs0n54kuwfjm8qP9KlLk1%2FRBFWn3koUwYLorT2AyqajEoTqALJuDQRVqnZnguw71QLRZBhCQLVMhmVII7Q4aR4RUAISl6Idjqw4pRqq4M8CoEHGo7LIeHhI36WhWQ2Gc8wPUBdpSnLIwl0PuK4JBEei7v0sz9pnakD9a0VN4bihiV9MtthgZ%2FVSetU%2BfJd1ktr8juMlzgN80FxdzvOTofaY2lBq%2Fas6v3Xwih0KHuvzMJQ9ICOWhzXZYjOQMrYqRiiMKZDWT1Fm6GUEejgxnFpI6q4RWhTpnqcH9LTFIEkEsiULZo4ouOXCIFKRe18v86m6CNTmZUuqew5zGmySbP8NszqE50IIr6a24xOEk%2B6ZiKqEBFgP2JeSpkReQwxgPSJcRlS7dUBGcLckGKIRIaYsie67p74%2BY70N95TomgVPmOl3EtmULX4Io9BolApxWSuq8yLTHJ4suexbjtJ6aLQ4uZJulIOSDpDTF32JLYSkDmGbNYBcT6lgkv90EYJcjJpYkmfycLrwymm8H5arfMXqt0qjkjkCFBvc%2BQlQHFl1rDBBfufTUJbaSLsxRP7apQ4MfFKNIV1sr2n3uDnZ9k34rZ%2Bki7Pd%2Fb5ha%2Fd56cybt%2BWcXuB%2BIo4UF6CCxCvPvKlf%2BbBpV5VBpQs69VHtVeQQ4MZLxueKderTDesj9VSthyCQGm4oxLEgtRejgQqwaVv2KHkWgj2ofJbbJGCu2bzkXPeyVSHBO6aDTUvlmc4oHMFx%2FUs7Qi7v2kxS3tQs%2BJTmxVDJTHgWTFfvqc%2F4glzutdqMtOjTaoH%2BDua7Qr3FM1UpHTa3JE%2BEbY7FOpSE%2BG%2BYZc9EXZEE%2BGqNkumEr3lGQX5k1xRLlR13NKePAblVKTzBzyNe1wCiTYKpGWEc87mJiWLKGVUUC2RL0ZHdzQcX0QZuirtRTo5bCCpYVRyOK8rWi46PZQVhRz49NDK9B4uXc6eKOVcWa5SX51b%2B9qSfw5%2FDCn%2FoIHL%2FbntReoJLs7gUpWbRlXMEH%2F2RefSTXXSVP9ZLvA6cinlTwkllWbWk1dxe1khHjW9paqgz5Gj3EOmyCGVHNKLNHlwaQxizB%2BxooUsWkgvzeTBJd6yHK8VK2SxQn61JQ9efnkoJ6KqxpI8akivseTBU9Cln01ocKiYIYsZ0isseW2JnTJj4a%2Fw77%2BqKgaKGzK40bUK03DbM1Ry4pvXZI8ISbWO88uhFmWr1KGWCH5%2FPys6aTPL6cLJiqpB9XSTJSg2JqFKL5eobEgvt4Q0SDCvyuWUs1LKI%2FZy5WgUaSSSRnqJJVRV0AeL5DDS%2FKamJRIVU9nyB9KgqqCTUlKfYUKSogpXFdhs%2FZDiiwy%2BSK%2BoVCszEF9ecPpnGGd3VFJV6%2FsSeSK%2FrhLSRNlC5WqM4slJ8ER6dSWkiYrjqPJK74NC0ssrIU0gu%2BH8W7ze5Ld%2BvMA%2Fw9njvgzXIuxWRJJJJOmlmJDWzjz6OMf3eVyyj2lJPr4Pae2Flo8Lh4XGO9vSmf6TmDPz5eaTh%2F%2B4Wd1%2Fe3n%2BeTF%2BwibpvPTlr92Lv%2BkFsWPs8vp598Xrl7PdRE8uB%2FO4zE%2BTWYTDmZ8WjOYQiZ5mkxku4iDvmujpagce1F%2BiJ8goSJz6LzFq30nxhwmlj0cojzM1x2YOt4767C1zmFymCd1Wv72dzEyW9Lwresf%2FAQ%3D%3D" title="UML class diagram of card game" frameborder="0"></iframe>
            </div>
        </section>
    </article>
{% endblock %}
