<h1>Location: {{ location.getName() }}</h1>
<h2>Description: {{ location.getDescription() }}</h2>
<form method="post">
    <input type="text" name="input">
    <button type="submit"
            formaction="{{ path('perform_action') }}">
        Skicka
    </button>
</form>
