{% extends "base.html.twig" %}

{% block title %}Pig Test{% endblock %}

{% block body %}

<div class="content-header">
    <h1 class="title">Roll a Dice</span></h1>
    <p class="sub-title">Here is the value of the dice: {{ diceString }}</p>
</div>

{% endblock %}