{% extends "base.html.twig" %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="title">Product Entity</h1>
        <p class="sub-title">Just a simple test of Doctrine in Symfony</p>
        <form>
            <button class="btn btn-notice"
                    type="submit"
                    formmethod="post"
                    formaction="{{ path('product_show_all') }}">
                    Show All Products
            </button>
        </form>
    </div>
    
{% endblock %}
