article {
    max-width: 67rem;
    margin: 0 auto;

    p {
        text-align: justify;
    }
}

.blog {
    @include well-base();
    padding: $magic-number;

    // Omit last section
    section:not(section:last-of-type) {
        border-bottom: 1px solid $color-on-prime-variant;
        margin-bottom: $magic-number * 2;
    }
}

.two-col-layout {
    display: flex;
    gap: $magic-number;

    div {
        @include well-base();
        padding: $magic-number;
    }

    div:first-of-type {
        flex: 1.4;
    }

    div:last-of-type {
        flex: 0.6;
    }    
}
