.btn {
    font-weight: 500;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    font-family: $font-body;
    font-size: $base-font-size;
    padding: ($magic-number * 0.5) $magic-number;
    text-align: center;
    line-height: $base-line-height;
    border-radius: $base-border-radius;
    border: 1px solid $color-on-prime-variant;
    color: $color-on-prime;
    position: relative;

    &:not(.disabled) { cursor: pointer; }

    &:not(.disabled):hover {
        background-color: $color-on-prime-variant;
    }

    &.round {
        border-radius: 3rem;
    }


}

$btn-icons: (
"icon-play": "\f04b",
"icon-check": "\f058",
"icon-info": "\f05a",
"icon-warning": "\f06a",
"icon-stop": "\f256",
"icon-give": "\e4f7",
"icon-file": "\f15c",
"icon-coins": "\f51e",
"icon-xmark": "\f00d",
"icon-piggy": "\f4d3",
);

@each $type, $icon in $btn-icons {
    .#{$type}::after {
        margin-left: 0.5em;
        @include fa-base();
        content: $icon;
    }
}

// Create a mapping of class names to colors
$btn-colors: (
"btn-success": $color-success,
"btn-notice": $color-notice,
"btn-warning": $color-warning,
"btn-danger": $color-danger,
);

// Apply different styling
@each $type, $color in $btn-colors {
    .#{$type} {
        border-color: $color;

        &:not(.disabled):hover {
            background-color: $color;
        }

        &.fill {
            background-color: $color;
        }

        &:not(.disabled).fill:hover {
            background-color: color.scale($color, $lightness: -40%);
            border-color: color.scale($color, $lightness: -40%);
        }
    }
}
