.card {
    height: 1.6 * 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $base-border-radius;
    background-color: $color-prime-variant;
    color: $color-on-prime;
    border: 1px solid $color-on-prime-variant;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: $magic-number * 0.5;
    align-items: center;

    &.draw > .card:last-child {
        position: relative;
        margin-left: $magic-number;
    }
    &.draw > .card:last-child::before {
        content: "";
        position: absolute;
        left: -$magic-number * 0.75;
        height: 100%;
        border-left: 2px solid $color-on-prime-variant;
    }
}

.hand {
    border: 2px solid $color-on-prime-variant;
    display: flex;
    padding: ($magic-number * 0.5);
    gap: $magic-number * 0.5;
}
