.card {
    height: 1.6 * 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $base-border-radius;
    background-color: $base-background-color-2;
    color: $base-color;
    border: 1px solid $base-color-2
}

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: $magic-number * 0.5;

    &.draw > .card:last-child {
        position: relative;
        margin-left: $magic-number;
    }
    &.draw > .card:last-child::before {
        content: "";
        position: absolute;
        left: -$magic-number * 0.75;
        height: 100%;
        border-left: 2px solid $base-color-2;
    }
}