.flash {
    position: absolute;
    transform: translate(-50%, 0);
    top: 5rem;
    left: 50%;
    border: 2px solid;
}

.flash-notice {
    color: lightblue;
    border-color: lightblue;
}

.flash-warning {
    color: yellow;
    border-color: yellow;
}
