input,
textarea {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

input[type=text],
input[type=number],
select,
textarea {
    width: 100%;
    padding: ($magic-number * 0.5) $magic-number;
    display: inline-block;
    border: none;
    color: $color-on-prime;
    background-color: $color-prime;
    border-radius: $base-border-radius;
    box-sizing: border-box;
}

form {
    max-width: 67rem;
    margin: 0 auto;
    padding: $magic-number;
    display: flex;
    flex-direction: column;
    gap: $magic-number;
}

fieldset {
    padding: $magic-number;
    border: none;
    background-color: $color-prime-variant;
    border-radius: $base-border-radius;
    display: flex;
    flex-direction: column;

    &.center-content {
        align-items: center;
    }
}
