.pretty-ul {
    @include flex-list();
    color: $color-on-prime;
    flex-direction: column;
    gap: $magic-number*0.5;
    margin-bottom: $magic-number;

    li::before {
        content: "\2022";
        color: $color-on-prime-variant;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
    }
}
