.popup {
    position: relative;
    display: inline;
}

.popup-content {
    width: 33rem;
    background-color: $color-inverse;
    border-radius: $base-border-radius;
    padding: ($magic-number * 0.5);
    visibility: hidden;
    display: none;
    position: absolute;
    font-size: 1rem;
    filter:drop-shadow(0 2px 6px rgba(33, 33, 33, 0.4));
    
    &.arrow-left {
        top: 50%;
        transform: translate(0, -50%);
        left: $magic-number * 1.5;
    }

    &.arrow-left::after {
        content: " ";
        position: absolute;
        left: -(0.5 * $magic-number);
        transform: translate(0, -50%);
        top: 50%;
        border-top: (0.5 * $magic-number) solid transparent;
        border-right: (0.5 * $magic-number) solid $color-inverse;
        border-left: none;
        border-bottom: (0.5 * $magic-number) solid transparent;
    }

    &.arrow-right {
        top: 50%;
        transform: translate(0, -50%);
        right: $magic-number * 1.5;
    }

    &.arrow-right::after {
        content: " ";
        position: absolute;
        right: -(0.5 * $magic-number);
        transform: translate(0, -50%);
        top: 50%;
        border-top: (0.5 * $magic-number) solid transparent;
        border-left: (0.5 * $magic-number) solid $color-inverse;
        border-right: none;
        border-bottom: (0.5 * $magic-number) solid transparent;
    }

    &.arrow-top {
        left: 50%;
        transform: translate(-50%, 0);
        top: $magic-number * 1.5;
    }

    &.arrow-top::after {
        content: " ";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -(0.5 * $magic-number);
        border-top: none;
        border-right: (0.5 * $magic-number) solid transparent;
        border-left: (0.5 * $magic-number) solid transparent;
        border-bottom: (0.5 * $magic-number) solid $color-inverse;
    }

    &.arrow-bottom {
        left: 50%;
        transform: translate(-50%, 0);
        bottom: $magic-number * 1.5;
    }

    &.arrow-bottom::after {
        content: " ";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -(0.5 * $magic-number);
        border-top: (0.5 * $magic-number) solid $color-inverse;
        border-right: (0.5 * $magic-number) solid transparent;
        border-left: (0.5 * $magic-number) solid transparent;
        border-bottom: none;
    }
}


// Display content on hover
.popup:hover .popup-content {
    visibility: visible;
    display: block;
}

// Create a mapping of class names to colors
$pop-up-icons: (
"popup-success": "\f058",
"popup-notice": "\f05a",
"popup-warning": "\f06a",
"popup-danger": "\f06a",
);

// Apply different styling
@each $type, $icon in $pop-up-icons {
    .#{$type} {
        .popup-content { color: $color-on-inverse; }

        &::before {
            font-size: $base-font-size;
            @include fa-base();
            content: $icon;
        }
    }
}