.highlight {
    color: $color-accent;
    font-weight: 600;
}

h1,
h2,
h3,
h4 {
    color: $color-on-prime;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: $magic-number * 2;
}

h2 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: $magic-number;
}

h3 {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: $magic-number * 0.5;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: $magic-number * 0.5;
}

p,
a {
    text-decoration: none;
    color: $color-on-prime;
    font-weight: 400;
    font-size: $base-font-size;
}

p { margin-bottom: $magic-number; }

.underline { text-decoration: underline; }

.italic { font-style: italic; }

.weight-light { font-weight: 300; }

.weight-normal { font-weight: 400; }

.weight-medium { font-weight: 500; }

.weight-bold { font-weight: 600; }

// Create a mapping of class names to colors
$text-colors: (
"text-prime": $color-prime,
"text-on-prime": $color-on-prime,
"text-variant": $color-prime-variant,
"text-on-variant": $color-on-prime-variant,
"text-inverse": $color-inverse,
"text-accent": $color-accent,
"text-success": $color-success,
"text-notice": $color-notice,
"text-warning": $color-warning,
"text-danger": $color-danger,
);

// Apply different styling
@each $type, $color in $text-colors {
    .#{$type} {
        color: $color;
    }
}