$font-body: 'Inter', sans-serif;
$base-font-size: 1.125rem;
$base-line-height: 1.5;
$magic-number: $base-font-size * $base-line-height;
$base-border-radius: 0.5rem;

$color-prime: #000;
$color-on-prime: #fff;
$color-prime-variant: #191919;
$color-on-prime-variant: #484848;
$color-accent: #BA6DE7;
