$font-body: 'Inter', sans-serif;
$base-font-size: 1.125rem;
$base-line-height: 1.5;
$magic-number: $base-font-size * $base-line-height;
$base-border-radius: 0.5rem;


$base-color: #fff;
$base-color-2: #484848;
$base-background-color: #000;
$base-background-color-2: #191919;
$accent-color: #BA6DE7;


// $base-font-size: 1rem;
// $base-line-height: 1.6;
// $magic-number: $base-font-size * $base-line-height;
// $base-border-radius: 0.45rem;
