{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
    <div class="content-header">
        <h1 class="title">Welcome to the Library</h1>
        <p class="sub-title">
            In libraries vast, where knowledge lies.
            The programmers sit with watchful eyes.
            Their fingers dance upon the keys.
            Unlocking secrets with such ease.   
            With code as their tool, they seek to find.
            The answers to the questions on their mind.
            Through books and journals, they explore.
            The mysteries that programming holds in store.
        </p>
        <a class="btn round" href="{{ path('library_read_many') }}">
            Show All Books
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
    
{% endblock %}
